body {
  font-family: ubuntu; }

.uk-panel-box {
  text-align: center;
  color: #5d5c5c; }

.hero {
  height: 50vh;
  display: table;
  width: 100%; }

.hero h2 {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
